.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

body {
  background-color: aquamarine;
  width: 1920px;
}

/* header CSS */
header {
  background-color: var(--background-color);
  padding: 26px 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

header > img {
  width: 130px;
  height: 40px;
}

.main-nav {
  background-color: beige;
  display: inherit;
}

.main-nav > ul {
  background-color: red;
  width: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav li {
  width: 46px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.main-nav li:last-child {
  width: 62px;
  background-color: yellowgreen;
}

.main-nav > button {
  width: 140px;
  height: 50px;
  margin-left: 40px;
  border: none;
  border-radius: 40px;
  background-color: var(--button-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--button-text-color);
}

/* hodu-main CSS */
.hodu-main {
  height: 798px;
}

@media screen and (max-width: 390px) {
  .hidden {
    display: block;
  }
}
